n8n_workflows/configurable_processing.json
{
    "name": "Configurable Video Processing",
    "nodes": [
        {
            "parameters": {},
            "id": "manual-trigger",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "mode": "manual",
                "duplicateItem": false,
                "assignments": {
                    "assignments": [
                        {
                            "id": "folder-path-field",
                            "name": "folder_path",
                            "value": "D:/n8n/ai-ewg/test_videos/newsroom/2024",
                            "type": "string"
                        },
                        {
                            "id": "target-stage-field",
                            "name": "target_stage",
                            "value": "rendered",
                            "type": "string"
                        },
                        {
                            "id": "force-reprocess-field",
                            "name": "force_reprocess",
                            "value": false,
                            "type": "boolean"
                        }
                    ]
                },
                "options": {}
            },
            "id": "set-config",
            "name": "Set Configuration",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                460,
                300
            ],
            "notes": "📝 Configure Processing:\n\nfolder_path: Path to video folder\ntarget_stage: discovered, prepped, transcribed, enriched, rendered\nforce_reprocess: Set true to reprocess existing videos"
        },
        {
            "parameters": {
                "command": "=find {{ $json.folder_path }} -maxdepth 1 -name '*.mp4' -type f -exec basename {} \\;"
            },
            "id": "list-video-files",
            "name": "List Video Files",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                680,
                300
            ],
            "notes": "Lists all .mp4 files in the specified folder using find command (BusyBox/Docker compatible)"
        },
        {
            "parameters": {
                "jsCode": "const config = $('Set Configuration').first().json;\nconst commandOutput = $input.first().json.stdout;\n\nif (!commandOutput || commandOutput.trim() === '') {\n  throw new Error(`No video files found in ${config.folder_path}`);\n}\n\n// Parse the command output - each line is a filename\nconst videoFiles = commandOutput\n  .trim()\n  .split('\\n')\n  .map(line => line.trim())\n  .filter(line => line.length > 0 && line.endsWith('.mp4'));\n\nif (videoFiles.length === 0) {\n  throw new Error(`No .mp4 files found in ${config.folder_path}`);\n}\n\nconsole.log(`🎬 Processing Configuration:`);\nconsole.log(`   📁 Folder: ${config.folder_path}`);\nconsole.log(`   🎯 Target Stage: ${config.target_stage}`);\nconsole.log(`   🔄 Force Reprocess: ${config.force_reprocess}`);\nconsole.log(`   📹 Videos Found: ${videoFiles.length}`);\nconsole.log('');\n\nconst episodes = videoFiles.map(filename => {\n  const baseName = filename.replace(/\\.[^/.]+$/, '');\n  const episodeId = `newsroom-2024-${baseName.toLowerCase().replace(/[^a-z0-9]/g, '-')}`;\n  \n  return {\n    filename: filename,\n    full_path: `${config.folder_path}/${filename}`,\n    episode_id: episodeId,\n    base_name: baseName,\n    target_stage: config.target_stage,\n    force_reprocess: config.force_reprocess\n  };\n});\n\nconsole.log('📋 Episode List:');\nepisodes.forEach((ep, index) => {\n  console.log(`   ${index + 1}. ${ep.filename} → ${ep.episode_id}`);\n});\nconsole.log('');\n\nreturn episodes;"
            },
            "id": "prepare-episodes",
            "name": "Prepare Episodes",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                880,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=http://host.docker.internal:8000/episodes/{{ $json.episode_id }}",
                "options": {}
            },
            "id": "check-episode-status",
            "name": "Check Episode Status",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1080,
                300
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// Prepare episode for processing based on current status\nconst episodeData = $('Prepare Episodes').all()[$itemIndex].json;\nconst statusResponse = $input.first().json;\n\n// Processing stages in order\nconst stages = ['discovered', 'prepped', 'transcribed', 'enriched', 'rendered'];\n\nlet currentStage = 'discovered';\nlet needsProcessing = true;\n\n// Check if we got a valid status response\nif (statusResponse && statusResponse.episode_id) {\n  currentStage = statusResponse.stage || 'discovered';\n  \n  const currentIndex = stages.indexOf(currentStage);\n  const targetIndex = stages.indexOf(episodeData.target_stage);\n  \n  // If already at or past target stage, skip unless force_reprocess\n  if (currentIndex >= targetIndex && !episodeData.force_reprocess) {\n    needsProcessing = false;\n    console.log(`⊘ Skipping ${episodeData.episode_id} - already at stage ${currentStage}`);\n  } else {\n    console.log(`→ Processing ${episodeData.episode_id} from ${currentStage} to ${episodeData.target_stage}`);\n  }\n} else {\n  console.log(`→ New episode ${episodeData.episode_id} - will process to ${episodeData.target_stage}`);\n}\n\nreturn {\n  ...episodeData,\n  current_stage: currentStage,\n  needs_processing: needsProcessing,\n  status_checked: true\n};"  
            },
            "id": "prepare-for-processing",
            "name": "Prepare for Processing",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1280,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.needs_processing }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "filter-needs-processing",
            "name": "Filter: Needs Processing",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1480,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:8000/episodes/process",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  \"episode_id\": $input.item.json.episode_id,\n  \"target_stage\": $input.item.json.target_stage,\n  \"force_reprocess\": $input.item.json.force_reprocess\n}) }}",
                "options": {}
            },
            "id": "process-episode",
            "name": "Process Episode",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1680,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Log processing result with detailed info\nconst result = $input.first().json;\nconst inputData = $('Prepare Episodes').all()[$itemIndex].json;\n\nif (result.success) {\n  console.log(`✅ SUCCESS [${$itemIndex + 1}/${$('Prepare Episodes').all().length}]: ${result.episode_id}`);\n  console.log(`   📁 File: ${inputData.filename}`);\n  console.log(`   ⏱️  Duration: ${result.duration.toFixed(2)}s`);\n  console.log(`   🎯 Stage: ${result.stage}`);\n  if (result.metrics) {\n    console.log(`   📊 Metrics: ${JSON.stringify(result.metrics)}`);\n  }\n} else {\n  console.log(`❌ FAILED [${$itemIndex + 1}/${$('Prepare Episodes').all().length}]: ${result.episode_id}`);\n  console.log(`   📁 File: ${inputData.filename}`);\n  console.log(`   ⚠️  Error: ${result.error}`);\n}\nconsole.log('');\n\nreturn {\n  ...result,\n  filename: inputData.filename,\n  processing_order: $itemIndex + 1,\n  full_path: inputData.full_path\n};"
            },
            "id": "log-result",
            "name": "Log Processing Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1880,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const allResults = $input.all(); const successful = allResults.filter(item => item.json.success === true); const failed = allResults.filter(item => item.json.success !== true); const totalDuration = successful.reduce((sum, item) => sum + (item.json.duration || 0), 0); const avgDuration = successful.length > 0 ? totalDuration / successful.length : 0; const config = $('Set Configuration').first().json; const summary = { summary_type: 'workflow_completion', configuration: { folder_path: config.folder_path, target_stage: config.target_stage, force_reprocess: config.force_reprocess }, results: { total_videos: allResults.length, successful: successful.length, failed: failed.length, success_rate: ((successful.length / allResults.length) * 100).toFixed(1) + '%' }, timing: { total_duration: totalDuration.toFixed(2) + 's', avg_duration: avgDuration.toFixed(2) + 's' }, processed_episodes: successful.map(item => ({ episode_id: item.json.episode_id, filename: item.json.filename, stage: item.json.stage, duration: item.json.duration })), failed_episodes: failed.map(item => ({ episode_id: item.json.episode_id, filename: item.json.filename, error: item.json.error })), timestamp: new Date().toISOString() }; return [...allResults.map(item => item.json), summary];✅ Successfully Processed Videos:');\n  successful.forEach(item => {\n    console.log(`   - ${item.json.filename} (${item.json.episode_id}) - ${item.json.duration.toFixed(2)}s`);\n  });\n}\n\nif (failed.length > 0) {\n  console.log('\\n❌ Failed Videos:');\n  failed.forEach(item => {\n    console.log(`   - ${item.json.filename}: ${item.json.error}`);\n  });\n  console.log('\\n🔄 Re-run with force_reprocess: true to retry failed episodes');\n}\n\nconsole.log('='.repeat(60));\n\n// Return all processed items plus the summary\nreturn [...allResults.map(item => item.json), summary];To retry failed videos, set force_reprocess = true and run again`);\n}\n\nconsole.log('\\n📂 Output Locations:');\nconsole.log('   📝 Transcripts: transcripts/ folder');\nconsole.log('   📊 Data: output/ folder');\nconsole.log('   🌐 Web Pages: web_artifacts/ folder');\nconsole.log('\\n🔍 Monitor Progress:');\nconsole.log('   📊 API Status: http://localhost:8000/status');\nconsole.log('   💚 Health Check: http://localhost:8000/health');\nconsole.log('   📋 Episodes: http://localhost:8000/episodes');\n\nreturn summary;"
            },
            "id": "final-summary",
            "name": "Final Summary",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2080,
                300
            ]
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Set Configuration",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Configuration": {
            "main": [
                [
                    {
                        "node": "List Video Files",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "List Video Files": {
            "main": [
                [
                    {
                        "node": "Prepare Episodes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Episodes": {
            "main": [
                [
                    {
                        "node": "Check Episode Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Episode Status": {
            "main": [
                [
                    {
                        "node": "Prepare for Processing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare for Processing": {
            "main": [
                [
                    {
                        "node": "Filter: Needs Processing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter: Needs Processing": {
            "main": [
                [
                    {
                        "node": "Process Episode",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Episode": {
            "main": [
                [
                    {
                        "node": "Log Processing Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Processing Result": {
            "main": [
                [
                    {
                        "node": "Final Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "1",
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "id": "configurable-processing",
    "tags": []
}